{%extends 'base.html'%}

{% block content %}
{{block.super}}

<h1>Instagram app</h1>
{% for photo in photos %}
<div class="container">

  <div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <div class ="panel panel-default" >

  </div class="panel panel-header">  <p>{{photo.profile}}</p></div>
  <div class="panel panel-body">
      <a href="{% url 'imagedetails' photo.id %}">  <img src="{{photo.image.url}}" class="img-responsive" alt="Image"></a>

        <p>{{photo.caption}}</p>
      </div>
      <div class="panel panel-footer">

        <p> {{photo.likes}} Likes</p>
        <p>{{photo.comments}}</p>
        <a href="#">View comments</a>
      </div>

    </div>
      </div>
    </div>

    {% empty %}
  <div class="row">
    <h2 class="text-center">There are no photos yet</h2>
  </div>
  {% endfor %}
  </div>

{% endblock %}
